<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
     <!--  <div class="navbar_home_link"><a href="index.html"><img src="images/icons/white/home.png" alt="" title="" /></a></div>-->
       <div class="navbar_page_center">Notícias</div>
       <div class="menu_open_icon_white"><a href="#" class="open-panel"><img src="images/menu_open.png" alt="" title="" /></a></div>
     </div>
     <div id="pages_maincontent">
      
      <h2 class="page_subtitle">Ultimas</h2>
      
            <div class="list-block">
              <ul class="posts" id="template_post" >
              </ul>
            <div id="loadMore">Mais</div> 
            </div>
      
      </div>
      
      
    </div>
  </div>
</div>


<script type="text/javascript"  >

</script>
