<div class="pages"  >
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    

     <div class="navbarpages">
       <!-- <div class="navbar_home_link"><a id="linkControle" href="blog.html"><img src="images/icons/white/blog.png" alt="" title="" /></a></div> -->
       <div class="navbar_page_center" id="titulo_pagina" ></div>
       <div class="menu_open_icon_white"><a href="#" class="open-panel"><img src="images/menu_open.png" alt="" title="" /></a></div>
     </div>
     <div id="pages_maincontent">
		<h2 class="page_subtitle" id="titulo_noticia" >404</h2>
		<div class="post_single" id="corpo_noticia" >
			<p>404
		</p>
		</div> 
    </div>
  </div>
</div>

