<div class="pages">
  <div data-page="projects" class="page no-toolbar no-navbar">
    <div class="page-content">
    
     <div class="navbarpages">
     <!--  <div class="navbar_home_link"><a href="index.html"><img src="images/icons/white/home.png" alt="" title="" /></a></div>-->
       <div class="navbar_page_center">Fornecedores</div>
       <div class="menu_open_icon_white"><a href="#" class="open-panel"><img src="images/menu_open.png" alt="" title="" /></a></div>
     </div>
     <div id="pages_maincontent">
      
      <h2 class="page_subtitle">Fornecedores</h2>
			<div>
				<select id="listaCidades" >
					<option value="PB">PB</option>
					<option value="PE">PE</option>
				</select>
				<select id="listaTipo" >
					<option value="0">Selecione</option>
				</select>
			</div>
            <div id="carregaFornecedores" onclick="carregarFornecedores($('#listaCidades :selected').val(), $('#listaTipo :selected').val());"  >Buscar</div> 

            <div class="list-block">
              <ul class="posts" id="template_fornecedores" >
              </ul>
            </div>
      
      </div>
      
      
    </div>
  </div>
</div>


<script type="text/javascript"  >

</script>
